* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background: #6A5ACD;
}

.img-logo-coin {
    height: 96px;
    width: 101px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 10px auto;
}

main {
    width: 339px;
    height: 612px;
    background: #F4F4F4;
    border-radius: 20px;
    margin: 0 auto;
    padding: 44px 24px 23px;
}

label {
    color: #777777;
    font-weight: 400px;
    font-size: 14px;
}

select,
input {
    background: #FFFFFF;
    Border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 18px;
    font-weight: 700;
    font-size: 14px;
    color: #555555;
    cursor: pointer;
}

button {
    background-color: #772fd3;
    border-radius: 5px;
    width: 100%;
    height: 48px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border-Radius: 20px;
    Border: 1px solid #772FD3;
    margin: 23px 3px 1px 1px;
    padding: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo-Brasil {
    margin-top: -6px;
    width: 38px;
    height: 38px;
}

.moeda-real {
    font-size: 14px;
    color: rgba(119, 119, 119, 1);
}

.seta-roxa {
    margin: 10px 0;
    width: 17px;
    height: 21px;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.currency {
    color: rgba(119, 119, 119, 1);

}

.currency-value , .currency-value-to-convert {
    color: rgba(85, 85, 85, 1);
    font-Weight: 700;
    font-Size: 18px;

}

.logo-USA {
    width: 33px;
    height: 30px;
}